body {
  color:#404040;
  font: 300 15px/26px 'Roboto Slab', serif;
  -webkit-font-smoothing:antialised;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

h2 {
  margin: 10px;
  font-size: .8em;
}

  #menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 27vw;
    width: 120px
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
  }
   
  #menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
  }
   
  #menu a:last-child {
    border: none;
  }
   
  #menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  }
   
  #menu a.active {
  background-color: #3887be;
  color: #ffffff;
  }
   
  #menu a.active:hover {
  background: #3074a4;
  }


.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }


.sidebar {  
  position: fixed;
  width: 25vw;
  height: 95vh;
  top: 100; 
  left: 0vw;
  bottom: 10px;
  overflow: visible;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
  padding:5px;
}


.header1{
  display: block;
  text-decoration: none;
}

.logo-image{
  width:23vw;
}



.listings {
  height: 50vh;
  overflow: auto;
  padding-top:0px;
  background-color: #ffffff;
}
.listings .item {
  display: block;
  border-bottom: 5vh solid #ffffff;
  /*padding: 10px;*/
  text-decoration: none;
}
.listings .item:last-child { border-bottom: none; }
.listings .item .title {
  display: block;
  color: #00acc8ff;
  font-weight: 700;
}
.listings .item .title small { 
  font-weight: 400;
  }

  
  .listings .item.active .title,
  .listings .item .title:hover { color: #00acc8ff; }
  
  .listings .item.active {
    background-color: #f8f8f8;
  }
  


  .map-overlay {
    position: absolute;
    top: 70vh;
    height: 33vh;
    width: 20vw;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    overflow: visible;
    line-height: 20px;
  }
  
  
  #legend {
    padding: 5px;
    
    line-height: 16px;
    height: 23vh;
    top: 72vh;
    margin-bottom: 10px;
    width: 20vw;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 15px;
    height: 14px;
    left: 1vw;
    margin-right: 5px;
    font: 300 'Roboto Slab', serif;
  }

  .legend-words {
    font: 300 'Roboto Slab', serif;
    font-size: 14px;
    left: 2vw;
    position: relative;
  }


  .legend-key2 {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    font: 300 'Roboto Slab', serif;
  }
  
  .legend-feature{
    width: 25vw;

  }
  #features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 25vw;
  }
  

  
.map{
  position:fixed;
  padding:0px;
  top: 100vh;
  left: 25vw;
  width: 75vw;
  height: 100vh;
  top:0;
  bottom:0;
}





.foot2{
  position: fixed;
  bottom: 0px;
  z-index: -1;
  width: 100vw;
  height: 0vh;
  background-color: #fff;
  font: 300 'Roboto Slab', serif;
  -webkit-transition: height .3s ease;
  transition: height .3s ease; 
  cursor: 
}

.foot1{
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100vw;
  height: 0vh;
  background-color: #fff;
  font: 300 'Roboto Slab', serif;
  -webkit-transition: height .3s ease;
  transition: height .3s ease; 
}



.instructions{
  display: block;
  position: relative;
  width: 100vw;
  height: 6vh;
  font: 'Roboto Slab', serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color:#B3A369;
  cursor: pointer;

  }
  .active, .instructions:hover{
    background-color:#555
  }






h1 {
  font-size: 22px;
  margin: 1;
  font-weight: 400;
  line-height: 20px;
  padding: 2px 2px;
  background: #fff;
}

.popup {
  font: 300 15px/26px 'Roboto Slab', serif;
  font-size: 12px;
  margin: -10px;
  padding: -10px; 
  border: -10px;
  text-align: center;
  background: #6cbe4cff; 
  color: #000;
}

.heading {
  line-height: 20px;
  background: #6cbe4cff;
}

.left{
  left: 0vw;
  width: 66vw;
}
.right{
  left:66vw;
}
.middle{
  left:33vw;
}
.whole{
  left:0vw;
  width: 100vw;
}


a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}


.small{
  display: block;
  font-weight: 300;
  font-size: 14px;
}


::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00acc8ff;
  border-radius: 0;
}

.clearfix { display: block; }

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}  

.icon{
  width:80vw;
  border: 4px;
  overflow: hidden;
}

.icon img{
  width:20vw;
  float:left;
  margin-right: 15px;
}

.button{
  display: block;
  position: relative;
  margin: 20px auto;
  width: 50%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font: 'Roboto Slab', serif;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background:#f0e70eff;
  background:#bfd42fff;
  background:#6cbe4cff;
  background:#00acc8ff;

}

.button:hover{
  background-color:#ddd;
}

 .smaller-image{
    width: 10vw;
  }



  .map-overlay2{
    position: fixed;
    top: 50vh;
    width: 20vw;
    z-index: -1;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    overflow: visible;
    border-radius: 3px;
  
  }






@media only screen and (max-width:930px) {
 /* For mobile phones: */
 
 .map-overlay {
  position: absolute;
  top: 2vh;
  width: 25vw;
  z-index: -1;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  overflow: visible;
  border-radius: 3px;
}

.map-overlay2{
  position: fixed;
  top: 2vh;
  width: 30vw;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  font-family: 'Open Sans', sans-serif;
  overflow: visible;
  border-radius: 3px;
  line-height: 20px;

}

h1 {
  font-size: 18px;
  margin: 1;
  font-weight: 400;
  padding: 1px 1px;
}

.legend-key {
  width: 10px;
  height: 20px;
  position: absolute;
  left: 1vw;
}

.legend-words {
  font: 300 'Roboto Slab', serif;
  font-size: 14px;
  left: 5vw;
  position: relative;
}


.legend-feature{
  width: 25vw;
  

}
 .logo-image{
  height: 5vh;
  background-color: #fff;
  
  
}
  
 #menu {
    background: #fff;
    position: fixed;
    z-index: -1;
    top: 100vh;
    width: 120px
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
  }
  
  #menu2 {
    background: #fff;
    position: absolute;
    z-index: 1;
    height: 24vh;
    width: 100vw;
    border-radius: 1px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
  }
   
  #menu2 a {
    font-size: 13px;
    color: #404040;
    display: block;
    height: 6vh;
    width: 95vw;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.25);
    text-align: center;
  }
   
  #menu2 a:last-child {
    border: none;
  }
   
  #menu2 a:hover {
  background-color: #f8f8f8;
  color: #404040;
  width: 95vw;
  }
   
  #menu2 a.active {
  background-color: #3887be;
  color: #ffffff;
  width: 95vw;
  }
   
  #menu2 a.active:hover {
  background: #3074a4;
  width: 95vw;
  }

  .map, .sidebar {
    width:100vw;
  }
  .map{
    height:70vh;
    top:0vh;
    left: 0vw;
  }
  .sidebar{
    top:70vh;
    height:20vh;
    text-align: center;
    background-color: #fff;
  }
  .listings{
    height:17.5vh;
  }

  .header1{
  display: block;
  /*position: absolute;*/
  border-bottom: 1px solid #eee;
  /*right: 0px;*/
  background-color: #ffffff;
  text-decoration: none;
}

.item{
  height: 15vh;
}

  
.foot2{
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 80vw;
  height: 6vh;
  background-color: #fff;
  font: 300 'Roboto Slab', serif;
  -webkit-transition: height .3s ease;
  transition: height .3s ease; 
}

.foot1{
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 80vw;
  height: 30vh;
  background-color: #fff;
  font: 300 'Roboto Slab', serif;
  -webkit-transition: height .3s ease;
  transition: height .3s ease; 
}
.instructions{
  width: 95vw;
  left: 0vw;
}



}

